.services{
    display: none;
    //background-color: rgba(231,198,189,.15);
    min-height: calc(100vh - 334px);
}
.services.opened{
    display: block;
}
.services__item{
    display: none;
    padding: 30px 0 50px;
}
.services__item img{
    display: block;
    width: 400px;
}
.services__item__description{
    padding: 0 40px;
}
.services__item p{
    font-size: 26px;
}
.services__item h3{
    font-size: 32px;
}
.services__item h4{
    font-size: 30px;
    margin: 10px 0;
}
.services .call-button{
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .services{
        display: none;
    }
    .services.opened{
        display: block;
    }
    .services__item{
        display: none;
        padding: 30px 0;
        align-items: center;
    }
    .services__item img{
        display: block;
        width: 50%;
    }
    .services__item__description{
        padding: 0 20px;
        width: 50%;
    }
    .services__item p{
        font-size: 18px;
    }
    .services__item h3{
        font-size: 24px;
    }
    .services__item h4{
        font-size: 20px;
    }
    .services .call-button{
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .services{
        min-height: calc(100vh - 184px);
    }
}
@media (max-width: 476px) {
    .services .container{
        padding: 0;
    }
    .services__item{
        padding: 0;
        flex-wrap: wrap;
    }
    .services__item__description{
        padding: 20px 10px;
        width: 100%;
    }
    .services__item img{
        width: 100%;
    }
    .services__item p{
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .services__item h3{
        font-size: 24px;
    }
    .services__item h4{
        font-size: 20px;
    }
    .services .call-button{
        margin-top: 20px;
    }
}
