.main__about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.main__about__description, .main__about__image{
    //width: 50%;
}
.main__about__image{
    //padding: 100px;
    object-fit: contain;
    width: 300px;
}

.main__about__description{
    width: 400px;
    padding-right: 50px;
}

.main__about__description h1{
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    margin: 0 0 20px;
}

@media (max-width: 767px) {
    .main__about .container{
        padding: 14px;
    }
    .main__about__description{
        width: 60%;
        padding: 0 20px;
    }
    .main__about__description h1{
        font-size: 36px;
        margin: 0 0 10px;
        text-align: center;
    }
    .main__about__description p{
        font-size: 18px;
    }
    .main__about__image{
        width: 40%;
    }
}
@media (max-width: 476px) {
    .main__about .container{
        padding: 0;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .main__about__description{
        width: 100%;
        padding: 10px 10px;
    }
    .main__about__description h1{
        font-size: 0;
        margin: 0;
        text-align: center;
    }
    .main__about__description h2{
        font-size: 24px;
        margin: 0 0 5px;
        text-align: start;
    }
    .main__about__description p{
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .main__about__image{
        width: 100%;
    }
}