.main__contacts{
    //background-image: url("../../../images/main/services-1.webp");
}
.main__contacts .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
}
.main__contacts__description{
    width: 50%;
    padding: 0 60px;
}
.main__contacts__description h3{
    font-size: 32px;
    padding-bottom: 10px;
}
.main__contacts__description p{
    font-size: 24px;
    line-height: 40px;
}
.main__contacts__media{
    width: 50%;
}
.main__contacts__media img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .main__contacts .container{
        padding: 0;
        width: 100%;
        max-width: 1200px;
        height: 240px;
    }
    .main__contacts__media{
        width: 50%;
        height: 240px;
    }
    .main__contacts__media img{
        height: 240px;
    }
    .main__contacts__description h3{
        font-size: 20px;
    }
    .main__contacts__description p{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 767px) {
    .main__contacts__description h3{
        text-align: center;
    }
    .main__contacts__description{
        padding: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 476px) {
    .main__contacts .container{
        height: auto;
        padding: 20px 0;
    }
    .main__contacts__media{
        display: none;
    }
    .main__contacts__description h3{
        font-size: 24px;
    }
    .main__contacts__description p{
        font-size: 18px;
    }
}